<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gitanyow Planning Objective Feature Intersect</title>
    <link rel="stylesheet" href="./static/style.css">
</head>

<body>

<!-- Header Section -->

<div class="header">
    <div class="logo"></div>
    <div class="title">Gitanyow Land Use Planning Tool</div>
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Data & Mapping Tools </button>
            <div class="dropdown-content">
                <a href="./">Main Page</a>
                <a href="./overview_map">Overview Map</a>
                <a href="./intersect">Intersect Data</a>
            </div>
            </div>
    </div>
</div>

<!-- Top Banner -->
<div class="banner">
    <div class="banner-title"><p>Intersect Tool</p></div>
</div>

    <!-- Contains the Layer Selection Checkboxes and Legend Collapsible Menus-->
    <div class="collapsible-bar">
        <!-- back button-->
        <div>
            <button onclick="window.location.href='/'" class="back-button">Return to Main Page</button>
        </div>
        <!--Layer Selection-->
        <div>
            <button class="collapsible">Select Layers</button>
            <div class="content" id="checkbox-container">
                <p style="font-size: larger;"><br><strong>Select Map Layers</strong></p>
            </div>
        </div>
    </div>

    <h2>Upload a File to Intersect with Legal and Non Legal Planning Objectives</h2>
    <!-- Form for uploading data -->
    <form action="/intersect" method="POST" enctype="multipart/form-data" class="form-horizontal">
        <input type="file" name="file" accept=".geojson,.shp,.kml,.gpx" required>
        <div class="radio-group">
            <label>
                <input type="radio" name="data_type" value="legal" required> Legal
            </label>
            <label>
                <input type="radio" name="data_type" value="non_legal"> Non-legal
            </label>
            <label>
                <input type="radio" name="data_type" value="both"> Both
            </label>
        </div>
        <button type="submit">Upload and Intersect</button>
    </form>

    <section class='maps'>
        <div class='maps-box'>
            <div id='maps-item'>
                <!-- Embed leaflet map content -->
                {{ leaflet_map|safe }}
            </div>
        </div>
    </section>

    <!-- Intersected Data Section -->
    <div class="data-section">

        {% if intersected_data_1 %}
            <h3>Legal Planning Objective Polygons</h3>
            <button class="minimize-btn" onclick="toggleTableVisibility('intersected-data-1')">Minimize</button>
            <div id="intersected-data-1" class="table-container">
                <table id="intersected-data-1-table">
                    <thead>
                        <tr>
                            <th>Legal Feature ID</th>
                            <th>Plan Name</th>
                            <th>Objective</th>
                            <th>Legalization Date</th>
                            <th>Document Title</th>
                            <th>Document URL</th>
                            <th>Metadata Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in intersected_data_1 %}
                            <tr>
                                <td>{{ row['LEGAL_FEAT_ID'] }}</td>
                                <td>{{ row['STRGC_LAND_RSRCE_PLAN_NAME'] }}</td>
                                <td>{{ row['LEGAL_FEAT_OBJECTIVE'] }}</td>
                                <td>{{ row['LEGALIZATION_DATE'] }}</td>
                                <td>{{ row['ENABLING_DOCUMENT_TITLE'] }}</td>
                                <td><a href="{{ row['ENABLING_DOCUMENT_URL'] }}" target="_blank">Link</a></td>
                                <td><a href="{{ row['RSRCE_PLAN_METADATA_LINK'] }}" target="_blank">Link</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No Legal Planning Objective Polygon data found</p>
        {% endif %}

        {% if intersected_data_2 %}
            <h3>Legal Planning Objective Lines</h3>
            <button class="minimize-btn" onclick="toggleTableVisibility('intersected-data-2')">Minimize</button>
            <div id="intersected-data-2" class="table-container">
                <table id="intersected-data-2-table">
                    <thead>
                        <tr>
                            <th>Legal Feature ID</th>
                            <th>Plan Name</th>
                            <th>Objective</th>
                            <th>Legalization Date</th>
                            <th>Document Title</th>
                            <th>Document URL</th>
                            <th>Metadata Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in intersected_data_2 %}
                            <tr>
                                <td>{{ row['LEGAL_FEAT_ID'] }}</td>
                                <td>{{ row['STRGC_LAND_RSRCE_PLAN_NAME'] }}</td>
                                <td>{{ row['LEGAL_FEAT_OBJECTIVE'] }}</td>
                                <td>{{ row['LEGALIZATION_DATE'] }}</td>
                                <td>{{ row['ENABLING_DOCUMENT_TITLE'] }}</td>
                                <td><a href="{{ row['ENABLING_DOCUMENT_URL'] }}" target="_blank">Link</a></td>
                                <td><a href="{{ row['RSRCE_PLAN_METADATA_LINK'] }}" target="_blank">Link</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No Legal Planning Objective line data found</p>
        {% endif %}

        {% if intersected_data_3 %}
            <h3>Legal Planning Objective Points</h3>
            <button class="minimize-btn" onclick="toggleTableVisibility('intersected-data-3')">Minimize</button>
            <div id="intersected-data-3" class="table-container">
                <table id="intersected-data-3-table">
                    <thead>
                        <tr>
                            <th>Legal Feature ID</th>
                            <th>Plan Name</th>
                            <th>Objective</th>
                            <th>Legalization Date</th>
                            <th>Document Title</th>
                            <th>Document URL</th>
                            <th>Metadata Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in intersected_data_3 %}
                            <tr>
                                <td>{{ row['LEGAL_FEAT_ID'] }}</td>
                                <td>{{ row['STRGC_LAND_RSRCE_PLAN_NAME'] }}</td>
                                <td>{{ row['LEGAL_FEAT_OBJECTIVE'] }}</td>
                                <td>{{ row['LEGALIZATION_DATE'] }}</td>
                                <td>{{ row['ENABLING_DOCUMENT_TITLE'] }}</td>
                                <td><a href="{{ row['ENABLING_DOCUMENT_URL'] }}" target="_blank">Link</a></td>
                                <td><a href="{{ row['RSRCE_PLAN_METADATA_LINK'] }}" target="_blank">Link</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No Legal Planning Objective Points data found</p>
        {% endif %}

        {% if intersected_data_4 %}
            <h3>Non-Legal Planning Objective Polygons</h3>
            <button class="minimize-btn" onclick="toggleTableVisibility('intersected-data-4')">Minimize</button>
            <div id="intersected-data-4" class="table-container">
                <table id="intersected-data-4-table">
                    <thead>
                        <tr>
                            <th>Non Legal Feature ID</th>
                            <th>Plan Name</th>
                            <th>Objective</th>
                            <th>Decision Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in intersected_data_4 %}
                            <tr>
                                <td>{{ row['NON_LEGAL_FEAT_ID'] }}</td>
                                <td>{{ row['STRGC_LAND_RSRCE_PLAN_NAME'] }}</td>
                                <td>{{ row['NON_LEGAL_FEAT_OBJECTIVE'] }}</td>
                                <td>{{ row['ORIGINAL_DECISION_DATE'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No Non-Legal Planning Objective Polygon data found</p>
        {% endif %}

        {% if intersected_data_5 %}
        <h3>Non-Legal Planning Objective Lines</h3>
        <button class="minimize-btn" onclick="toggleTableVisibility('intersected-data-5')">Minimize</button>
        <div id="intersected-data-5" class="table-container">
            <table id="intersected-data-5-table">
                <thead>
                    <tr>
                        <th>Non Legal Feature ID</th>
                        <th>Plan Name</th>
                        <th>Objective</th>
                        <th>Decision Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in intersected_data_5 %}
                        <tr>
                            <td>{{ row['NON_LEGAL_FEAT_ID'] }}</td>
                            <td>{{ row['STRGC_LAND_RSRCE_PLAN_NAME'] }}</td>
                            <td>{{ row['NON_LEGAL_FEAT_OBJECTIVE'] }}</td>
                            <td>{{ row['ORIGINAL_DECISION_DATE'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No Non-Legal Planning Objective line data found</p>
    {% endif %}
    </div>

        {% if intersected_data_6 %}
        <h3>Non-Legal Planning Objective Points</h3>
        <button class="minimize-btn" onclick="toggleTableVisibility('intersected-data-6')">Minimize</button>
        <div id="intersected-data-6" class="table-container">
            <table id="intersected-data-6-table">
                <thead>
                    <tr>
                        <th>Non Legal Feature ID</th>
                        <th>Plan Name</th>
                        <th>Objective</th>
                        <th>Decision Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in intersected_data_6 %}
                        <tr>
                            <td>{{ row['NON_LEGAL_FEAT_ID'] }}</td>
                            <td>{{ row['STRGC_LAND_RSRCE_PLAN_NAME'] }}</td>
                            <td>{{ row['NON_LEGAL_FEAT_OBJECTIVE'] }}</td>
                            <td>{{ row['ORIGINAL_DECISION_DATE'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No Non-Legal Planning Objective Points data found</p>
    {% endif %}

    {% if not intersected_data_1 and not intersected_data_2 and not intersected_data_3 and not intersected_data_4 and not
        intersected_data_5 and not intersected_data_6%}
        <p>No Data - Upload a file and intersect.</p>
    {% endif %}

    <!-- Add these two buttons to download separate CSVs -->
    {% if intersected_data_1 %}
        <button class="download-btn" onclick="downloadTableAsCSV('intersected-data-1-table', 'legal_data.csv')">Download Legal Planning Polygons CSV</button>
    {% endif %}
    {% if intersected_data_2 %}
        <button class="download-btn" onclick="downloadTableAsCSV('intersected-data-2-table', 'non_legal_data.csv')">Download Legal Planning Lines CSV</button>
    {% endif %}
    {% if intersected_data_3 %}
    <button class="download-btn" onclick="downloadTableAsCSV('intersected-data-3-table', 'legal_data.csv')">Download Legal Planning Points CSV</button>
    {% endif %}
    {% if intersected_data_4 %}
        <button class="download-btn" onclick="downloadTableAsCSV('intersected-data-4-table', 'non_legal_data.csv')">Download Non-Legal Planning Polygons CSV</button>
    {% endif %}
    {% if intersected_data_5 %}
        <button class="download-btn" onclick="downloadTableAsCSV('intersected-data-5-table', 'legal_data.csv')">Download Non-Legal Planning Lines CSV</button>
    {% endif %}
    {% if intersected_data_6 %}
        <button class="download-btn" onclick="downloadTableAsCSV('intersected-data-6-table', 'non_legal_data.csv')">Download Non-Legal Planning Points CSV</button>
    {% endif %}

    <div class="metadata-section">
        <h2 class="header-style">Gitanyow Land Use Plan Area</h2>
        <p>The Gitanyow Land Use Plan Area was supplied by <a href="https://native-land.ca/" target="_blank" class="link-style">Native Land</a></p>
        
        <h3 class="header-style">Disclaimer from Native lands</h3>
        <p>
            As stated on the front page of the Native Land website, the Native Land map does not represent or intend to represent official or legal boundaries of any Indigenous nations.
            You are free to use the dataset for your own maps and applications using the Native Land Digital API.
        </p>
    </div>

<script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }

        // JavaScript to toggle the visibility of the tables
        function toggleTableVisibility(tableId) {
            const tableContainer = document.getElementById(tableId);
            if (tableContainer.style.display === "none") {
                tableContainer.style.display = "block";
            } else {
                tableContainer.style.display = "none";
            }
        }

        function downloadTableAsCSV(tableId, filename) {
            const table = document.getElementById(tableId);
            let csv = [];
            
            // Get the table headers
            const headers = [];
            const headerRow = table.querySelectorAll('th');
            headerRow.forEach(header => {
                headers.push(header.innerText);
            });
            csv.push(headers.join(',')); // Join headers as the first row
        
            // Get the table rows
            const rows = table.querySelectorAll('tr');
            rows.forEach(row => {
                const cells = row.querySelectorAll('td');
                if (cells.length > 0) {
                    let rowData = [];
                    cells.forEach(cell => {
                        rowData.push(cell.innerText);
                    });
                    csv.push(rowData.join(',')); // Join cells for each row
                }
            });
        
            // Create CSV file and trigger download
            const csvString = csv.join('\n');
            const blob = new Blob([csvString], { type: 'text/csv;charset=utf-8;' });
            const link = document.createElement('a');
            if (link.download !== undefined) {
                const url = URL.createObjectURL(blob);
                link.setAttribute('href', url);
                link.setAttribute('download', filename); // Use the provided filename
                link.style.visibility = 'hidden';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        }
    </script>
</body>
</html>
