<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gitanyow Land Use Planning Overview</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- Header -->
    <div class="header">
        <div class="logo"></div>
        <div class="title">Gitanyow Land Use Planning Tool</div>
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">Data & Mapping Tools </button>
                <div class="dropdown-content">
                    <a href="./overview_map.html">Overview Map</a>
                    <a href="./intersect.html">Create Intersects</a>
                </div>
                </div>
        </div>
    </div>

    <!-- Top Banner -->
    <div class="banner">
        <div class="banner-title"><p>Overview Map</p></div>
    </div>

    <!-- Contains the Layer Selection Checkboxes and Legend Collapsible Menus-->
    <div class="collapsible-bar">
        <!-- back button-->
        <div>
            <button onclick="window.location.href='/'" class="back-button">Return to Main Page</button>
        </div>
        <!--Layer Selection-->
        <div>
            <button class="collapsible">Select Layers</button>
            <div class="content" id="checkbox-container">
                <p style="font-size: larger;"><br><strong>Select Map Layers</strong></p>
            </div>
        </div>
        <!--Legend-->
        <div>
            <button class="collapsible">View Legend</button>
            <div class="content" id="legendContent">
                <p style="font-size: larger;"><br><strong>Legend</strong></p>
            </div>
        </div>
    </div>

    <section class='maps'>
        <div class='maps-box'>
            <div id='maps-item'>
                <!-- Embed leaflet map content -->
                {{ leaflet_map|safe }}
            </div>
        </div>
    </section>
    
    <div class="metadata-section">
        <h2 class="header-style">Gitanyow Land Use Plan Area</h2>
        <p>The Gitanyow Land Use Plan Area was supplied by <a href="https://native-land.ca/" target="_blank" class="link-style">Native Land</a></p>
        
        <h3 class="header-style">Disclaimer from Native lands</h3>
        <p>
            As stated on the front page of the Native Land website, the Native Land map does not represent or intend to represent official or legal boundaries of any Indigenous nations.
            You are free to use the dataset for your own maps and applications using the Native Land Digital API.
        </p>
    </div>
    <!--Collapses Legend and Layer Selection Menus-->
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
</body>
</html>
