<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOSS4G LUP Web Map</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<!-- Header Section -->

<div class="header">
    <img src="../static/BCID_H_rgb_rev.png" alt="British Columbia Logo" class="logo">
    <div class="title">BC Land Use Planning Tool</div>
    <div class="navbar">
        <ul>
            <li>
                Data & Mapping Tools 
            </li>
        </ul>
    </div>
</div>

<!-- Top Banner -->
<div class="banner">
    <div class="banner-title"><p>Overview Map</p></div>
</div>

    <section class='maps'>
        <h2>Land Use Plan Overview Map</h2>
        <div class='maps-box'>
            <div id='maps-item'>
                <!-- Embed leaflet map content -->
                {{ leaflet_map|safe }}
            </div>
        </div>
    </section>
</body>
</html>
