<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gitanyow Lax'yip Land Use Plan (GLLUP)</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<!-- Header Section -->

<div class="header">
    <img src="../static/BCID_H_rgb_rev.png" alt="British Columbia Logo" class="logo">
    <div class="title">Gitanyow Lax'yip Land Use Plan (GLLUP)</div>
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Data & Mapping Tools </button>
            <div class="dropdown-content">
                <a href="./">Main Page</a>
                <a href="./overview_map">Overview Map</a>
                <a href="./intersect">Intersect Data</a>
            </div>
            </div>
    </div>
</div>

<!-- Top Banner -->
<div class="banner">
    <div class="banner-title">Gitanyow Lax'yip Land Use Plan (GLLUP)</div>
</div>

<!-- Background Info Section -->
<section class="background-info">
    <div class="background-content">
                <h2>Gitanyow Lax’yip Land Use Plan (GLLUP) Background Info</h2>
        
        <h3></h3>
        <p>The Gitanyow Lax'Yip Land Use Plan (GLLUP) is an outcome of collaboration between the Gitanyow Nation and the Province of BC dating back to the 1990's. The GLLUP is contained within Schedules A and B of the 2016 Gitanyow Huwilp Recognition and Reconciliation Agreement (RRA), an agreement between the Gitanyow Nation (Gitanyow Hereditary Chiefs and Gitanyow Huwilp Society) and the Province.</p>
        
        <p>The GLLUP covers the full extent of the Gitanyow Nation territory (Lax'yip) and overlaps with the following Provincial Land and Resource Management Plans (LRMPs) and Sustainable Resource Management Plans (SRMPs):</p>
        
        <ul class="plan-list">
            <li>Kalum LRMP</li>
            <li>Kalum SRMP</li>
            <li>Nass South SRMP</li>
            <li>Nass North SRMP</li>
            <li>Skeena LRMP</li>
            <li>Kispiox LRMP</li>
            <li>Kispiox SRMP</li>
            <li>Cranberry SRMP</li>
        </ul>
        <p>The LRMPs are high-level, strategic plans that guide the integrated management of different values and resources over large areas, whereas the SRMPs are more detailed, operational-level plans that implement the strategic direction set by LRMPs. The Kalum LRMP and Kalum SRMP as well as the Kispiox LRMP and SRMP were completed in 1996, 2001 and 2006 respectively. The Nass South SRMP and Cranberry SRMP were completed in 2012 alongside the GLLUP collaboration process.</p>
        
        <p>Unless otherwise indicated in the GLLUP, management goals, objectives, measures/indicators and targets apply throughout the Gitanyow Lax'yip. Where specified, planning units are referred to as the Cranberry, Kispiox, Nass South, or Kalum planning units and are co-extensive with the Provincial Sustainable Resource Management Planning areas with these names.</p>
        
        <p>The GLLUP fully integrates the management objectives and direction of these LRMPs/SRMPs and is fully consistent with them. While the GLLUP can be seen as Gitanyow's stand-alone land use plan, the legal enforcement of management objectives and direction currently rests with the SRMPs at this time.</p>

    </div>
</section>

<!-- Main Discover Section -->
<main>
    <section class="discover">
        <h2>Discover The Land Use Plan</h2>
        <div class="services-grid">
            <div class="service-item">
                <div class="overview-item">
                    <img src="../static/overview_thumbnail.PNG" alt="Overview Map">
                    <a href="overview_map"><h3>Gitanyow Lax'yip Land Use Plan (GLLUP) Overview</h3></a>
                    <p>View the Land Use Plan Overview Map</p>

                </div>
            </div>
            <div class="service-item">
                <img src="../static/intersect_thumbnail.PNG" alt="Intersect with legal and non-legal planning objectives">
                <a href="intersect"><h3>Intersect with Legal and Non-legal Planning Objectives</h3></a>
                <p>Upload a KML, GeoJSON, GPX or shapefile and intersect it with current planning objectives
                <Br>
                <br>
                <b>Try it out!</b></p>
            </div>
        </div>
    </section>
</main>

</body>
</html>
