<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gitanyow Land Use Planning Tool</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<!-- Header Section -->

<div class="header">
    <img src="../static/BCID_H_rgb_rev.png" alt="British Columbia Logo" class="logo">
    <div class="title">Gitanyow Land Use Planning Tool</div>
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Data & Mapping Tools </button>
            <div class="dropdown-content">
                <a href="./">Main Page</a>
                <a href="./overview_map">Overview Map</a>
                <a href="./intersect">Intersect Data</a>
            </div>
            </div>
    </div>
</div>

<!-- Top Banner -->
<div class="banner">
    <div class="banner-title">Gitanyow Land Use Planning Tool</div>
</div>
<!-- Main Discover Section -->
<main>
    <section class="discover">
        <h2>Discover The Land Use Plan</h2>
        <div class="services-grid">
            <div class="service-item">
                <div class="overview-item">
                    <img src="../static/overview_thumbnail.PNG" alt="Overview Map">
                    <a href="overview_map"><h3>Gitanyow Land Use Plan Overview</h3></a>
                    <p>View the Land Use Plan Overview Map</p>

                </div>
            </div>
            <div class="service-item">
                <img src="../static/intersect_thumbnail.PNG" alt="Intersect with legal and non-legal planning objectives">
                <a href="intersect"><h3>Intersect with Legal and Non Legal Planning Objectives</h3></a>
                <p>Upload a KML, GeoJSON, GPX or shapefile and intersect it with current planning objectives
                <Br>
                <br>
                <b>Try it out!</b></p>
            </div>
        </div>
    </section>
</main>

</body>
</html>
